/*general*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

/*header*/
header{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-header-left{
    display: flex;
    justify-content: space-between;
    width: 33%;
    align-items: center;
    padding-left: 15px;
}

.container-header-right{
    display: flex;
    justify-content: space-between;
    width: 33%;
    align-items: center;
    padding-right: 15px;
}

a{
    text-decoration: none;
    color: black;
}

button{
    background-color: rgb(0, 97, 255);
    color: white;
    padding: 10px;
    border: 0;
}

/*footer*/

footer{
    background-color: rgb(35, 39, 42);
    height: 335px;
}
.container-footer{
    display: flex;
    width: 1000px;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

ul{
    color: white;
    list-style: none;
    padding-top: 25px;
    padding-bottom: 25px;
}

ul:hover{
    border-bottom: solid 1px grey;

}

li{
    padding-top: 15px;
}

.container-lingua{
    width: 1000px;
    margin: auto;
    padding: 20px;
}
.fa-earth-americas{
    color: grey;
}
.lingua{
    background-color: rgb(35, 39, 42);
    color: grey;
    border: 0;
}