/*general*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

img{
    max-width: 100%;
}

/*header*/
header{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-header-left{
    display: flex;
    justify-content: space-between;
    width: 33%;
    align-items: center;
    padding-left: 15px;
}

.container-header-right{
    display: flex;
    justify-content: space-between;
    width: 33%;
    align-items: center;
    padding-right: 15px;
}

a{
    text-decoration: none;
    color: black;
}

button{
    background-color: rgb(0, 97, 255);
    color: white;
    padding: 10px;
    border: 0;
    margin: 10px 0;
    display: inline;
}

/*footer*/

footer{
    background-color: rgb(35, 39, 42);
    height: 335px;
}
.container-footer{
    display: flex;
    width: 1000px;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

ul{
    color: white;
    list-style: none;
    padding-top: 25px;
    padding-bottom: 25px;
}

ul:hover{
    border-bottom: solid 1px grey;
}

li{
    padding-top: 15px;
}

.container-lingua{
    width: 1000px;
    margin: auto;
    padding: 20px;
}

.fa-earth-americas{
    color: grey;
}

.lingua{
    background-color: rgb(35, 39, 42);
    color: grey;
    border: 0;
}

/*main*/

.container-azzurro{
    background-color: rgb(180, 208, 231);
    
}
.container70{
    width: 70%;
    margin:auto;
}

h1{
    font-size: 4rem ;
    padding-top: 20px;
    padding-bottom: 20px;
}


.container-intero{
    width: 1000px;
    height: 400px;
    margin: auto;
    display: flex;
}

.container-scritta{
    width: 40%;
    position: relative;
}

.container-img{
    width: 60%;
    position: relative;
}
.btn-margin{
    margin: 20px;
    margin-left: 0;
}
.freccia-giu{
    font-size: 5rem;  
    position: absolute;
    bottom: 0;
}

.jumbo{
    max-width: none;
    width: 750px;
    height: 450px;
    position: absolute;
    bottom: -50px;
}

.container60{
    width: 900px;;
    margin: auto;
    padding-top: 100px;
    
}
h2{
    padding-bottom: 50px;
    font-size: 2rem;
}

.scelta-pagamenti{
    display: flex;
    flex-wrap: nowrap;
}

.colonna{
    border: 1px solid black;
    width: 33%;
    margin: 10px;
}
.titolo-colonna{
    border-bottom: 1px solid black;
    text-align: center;
}

.fa-solid{
    padding-right: 5px;
    display: inline;
}

.content-colonna{
    padding-left:50px;
    flex-wrap: nowrap;
}

h4{
    padding: 20px 0;
    font-size: 1.5em;
}
.grigio{
    color: grey;
    padding: 10px 0;
}

.content-colonna > span{
    margin: 10px 0;
    display: inline-block;
}
.free{
    text-decoration:underline;
    color: blue;
    
}

.content-colonna > hr{
    width: 20%;
    margin: 30px 0;
}

.fa-check{
    color: blue;
}

.row{
    border: 1px solid black;
    width: 100%;
    margin: 10px;
}
.row100{
    display: flex;
    justify-content: space-between;
}
.row70{
    padding-left: 20px;
    width: 70%;
}

.row30{
    width: (30% - 40px);
    display: inline-block;
    padding-right: 10px;
}

.seconda-sezione{
    width: 100%;
    display: flex;
}

